<section class="ui raised segment stackable four column grid">
    <div class="column center aligned">
        <h2 class="ui icon header">
            <i class="blue user icon"></i>
            <div class="sub header"><b>{{user.firstName}} {{user.lastName}}</b></div>
        </h2>
    </div>
    <div class="column center aligned">
        <h2 class="ui icon header">
            <i class="heartbeat red icon"></i>
            <div class="sub header"><b>Islands: {{poiTotal}}</b></div>
        </h2>
    </div>
    <div class="column center aligned">
        <h2 class="ui icon header">
            <i class="green plus icon"></i>
            <div class="sub header"><b>Users: {{userTotal}}</b></div>
        </h2>
    </div>
</section>