<div class="uk-width-expand@m">
        <div class="uk-card uk-card-default uk-width-xlarge uk-card-body uk-box-shadow-large">
            <h3 class="uk-card-title uk-text-center"> Add Your POI Details</h3>
    <form class="uk-form-stacked uk-text-left" action="/create"  method="POST">
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: location"></span>
                <input class="uk-input uk-form-large" type="text" name="name" placeholder="Island Name">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: location"></span>
                <input class="uk-input uk-form-large" type="text" name="description" placeholder="Brief Description">
            </div>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: location"></span>
                <input class="uk-input uk-form-large" type="text" name="lat" placeholder="Latitude">
            </div>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: location"></span>
                <input class="uk-input uk-form-large" type="text" name="long" placeholder="Longitude">
            </div>
            <div class="uk-inline uk-width-1-1">
                <span class="uk-form-icon" uk-icon="icon: location"></span>
                <input class="uk-input uk-form-large" type="text" name="image" placeholder="Image Url">
            </div>
            <div>
            <div class="uk-inline uk-width-1-1">
                <div class="uk-form-label">Select Category</div>
                <div class="uk-form-controls ">
                    {{#each categories }}
                        <label>
                            <input class="uk-radio" type="radio" name="category" value="{{name}}" />
                            {{name}}</label
                        >
                        <br />
                    {{/each}}
                </div>
            </div>
            </div>
            <div class="uk-margin">
                <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Create</button>
            </div>
        </div>
    </form>
        </div>
</div>
{{> error}}