<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="POI Tracker" subTitle="Categories Viewer" }}
    {{> main-menu }}
</div>
<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{>adminstats}}
</div>

<div class="uk-container uk-margin">
    <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
        <div class="uk-width-auto@m">
            <img width="400" src="images/ireland-flag.jpg" />
        </div>
        <div class="uk-width-expand@m">
            <div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large" title="Categories">
                <table class="uk-table">
                    <thead>
                    <th>Name</th>
                    <th>View Poi's</th>
                    <th>Delete</th>
                    </thead>
                    <tbody class="uk-text-left">
                    {{#each categories}}
                        <tr>
                            <td>{{name}}</td>
                            <td><a href="/category-view/{{_id}}"><i class= "far fa-folder fa-1x" style="color:rgb(56,191,25)" title="View" pos="bottom" uk-tooltip></i>
                            </a></td>
                            <td><a href="/delete-category/{{_id}}"><i class= "far fa-trash-alt fa-1x" style="color:rgb(212,19,57)" title="View" pos="bottom" uk-tooltip></i>
                            </a></td>
                        </tr>
                        <tr></tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <div class="uk-width-expand@m">
                <div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large" title="Categories">
                    {{>add-cat}}
                </div>
            </div>
        </div>
{{> error}}