
<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-card title="POI Tracker" subTitle="Points of Interest so Far" }}
    {{> main-menu }}
</div>
<div class="uk-container uk-margin">
<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Creator</th>
        <th>Image</th>
        </thead>
        <tbody class="uk-text-left">
            <tr>
                <td>{{poi.name}}</td>
                <td>{{poi.description}}</td>
                <td></td>
        </tbody>
    </table>
</div>
<div class="uk-margin uk-width-2xlarge uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <form class="uk-form-horizontal" action="/uploadfile/{{poi._id}}" method="POST" enctype="multipart/form-data">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-horizontal-text">Select Image</label>
            <div class="uk-form-controls">
                <input type="file" class="uk-input" name="imagefile" accept="image/png, image/jpeg">
            </div>
        </div>
        <div>
            <p uk-margin>
                <input type="submit" value="Upload" class="uk-button uk-button-default">
            </p>
        </div>
    </form>
</div>
</div>
{{> error}}