<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
  {{> title-card title="POI Tracker App"}}
  {{> welcome-menu }}
</div>

<div class="uk-container uk-margin">
  <div class="uk-child-width-expand uk-flex-center uk-flex-middle uk-text-center" uk-grid>
    <div class="uk-width-auto@m">
        <img width="300" src="images/ireland-flag.jpg">
    </div>
    <div class="uk-width-expand@m">
      <h1 class="uk-heading-small">Welcome to POI Tracker</h1>
      <p>Create and Curate your POI collection!</p>
    {{> error}}
    </div>
  </div>
</div>
